.header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(29, 30, 28);
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  z-index: 100;
  list-style: none;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  top: 10;
}

.header_optionLineOne {
  font-size: 15px;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white !important;
}

#donate-option {
  background-color: rgb(226, 37, 37);
  padding: 10px;
  border-radius: 3px;
}
