.image {
  background-image: url(https://b.zmtcdn.com/data/o2_assets/b90ed7f7c7f06ce7a5b94b967d4ce3eb1621255947.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}

.donate-heading {
  max-width: 300px;
}

.donate-header {
  max-width: 600px;
  margin-left: 500px;
  margin: 0 auto;
  color: white;
}

#form-view {
  width: 100%;
  margin-right: 300px;
  float: right;
  margin-top: 80px;
}

.form {
  margin-top: 20px;
  color: white;
}

.donation-details {
  display: block;
  /* margin-bottom: 200px; */
}

.details-screen {
  margin-left: 60px;
  margin-top: 80px;
}

.donation-details {
  width: 40%;
  height: auto;
  color: white;
}

.food-waste-money {
  margin-top: 10px;
  margin-left: 60px;
}

.food-wate {
  margin-top: 10px;
  margin-left: 60px;
}

.food-waste-steps {
  margin-top: 10px;
  margin-left: 60px;
}
